@model List<UserDashboard.Models.User>
@{
    ViewData["Title"] = "User Dashboard";
    ViewData["user"] = ViewData["user"];
}

@foreach (var user in Model)
{
    <div class="row user-card">
        <div class="col-3">
            <img src="@user.Picture.Medium" alt="image" />
        </div>
        <div class="col-9">
            <h5><b>@user.Name.First @user.Name.Last</b></h5>
            <h6><i><b>@user.Location.Street.Number @user.Location.Street.Name @user.Location.City, @user.Location.Country</b></i></h6>
            <div class="line">
                <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> @user.Email</p>
                <p class="phonee"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> @user.Phone</p>
                <p class="arroww"><a href="~/home/user/@user.Email"><i class="fa fa-arrow-right arrow" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </div>
}
