@using System.Collections;
@model List<UserDashboard.Models.User>
@using System.Text.Json;
@{
    ViewData["Title"] = "User Dashboard";
    TempData["users"] = JsonSerializer.Serialize(Model);
    var pageNumber = ViewData["pageNumber"] ?? 1;
    ViewData["pageNumber"] = (int)pageNumber;

    var paginatedRandomUsers = Model.Skip(((int)pageNumber - 1) * 3).Take(3).ToList();
}

@foreach (var user in paginatedRandomUsers)
{
    <div class="row user-card">
        <div class="col-3">
            <img src="@user.Picture.Medium" alt="image" />
        </div>
        <div class="col-9">
            <h5><b>@user.FullName</b></h5>
            <h6><i><b>@user.Location.Street.Number @user.Location.City, @user.Location.State, <span class="country">@user.Location.Country</span></b></i></h6>
            <div class="line">
                <p class="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> @user.Email</p>
                <p class="phonee"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> @user.Phone</p>
                <p class="arroww"><a href="user/@user.Email"><i class="fa fa-arrow-right arrow" aria-hidden="true"></i></a></p>
            </div>
        </div>

    </div>
}

<style>
    .hide{
        display: none;
    }
</style>



