@model UserDashboard.Models.User
@{
    ViewData["Title"] = "User";
}

<div class="results">
    <a href="javascript:history.go(-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <span>RESULTS</span>
</div>
<br/>
<div class="row details">
    <div class="col-4">
        <img src="@Model.Picture.Large" alt="image"/>
    </div>
    <div class="col-8">
        <h4><strong>@Model.Name.Title @Model.FullName</strong><span> @Model.Dob.Age</span></h4>
        <p id="location">@Model.UserLocation</p>
        <p id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> @Model.Email</p>
        <p id="joined"><strong>JOINED: @((Model.Dob.DateTime).ToString("MM-dd-yyyy"))</strong></p>
        <p class="phone"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> @Model.Phone</p>
        <p class="phone"><i class="fa fa-mobile" aria-hidden="true"></i> @Model.Phone</p>
    </div>
</div>