@using System.Collections;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="left">
                <h2 class="text-white"><span id="hello">Hello, @TempData.Peek("randomUser")</span> 
                <strong>                  
                </strong></h2>
                <p id="welcome">Welcome to your dashboard, kindly sort through the user base</p>
                <div class="form-group has-search">
                    <i class="fa fa-search form-control-feedback"></i>
                    <input type="text" class="form-control search" placeholder="Find a user">
                </div><br />
                <p>Show Users</p>

                <div class="filter-section">
                    <div class="all">
                        <div><a href="~/?gender=all"><i class="fa fa-users fa-2x all-icon"></i></a></div>
                        <br />
                        <p>All Users</p>
                    </div>
                    <div class="male">
                        <div><a href="~/?gender=male"><i class="fa fa-male fa-2x male-icon"></i></a></div>
                        <br />
                        <p>Male Users</p>
                    </div>
                    <div class="female">
                        <div><a href="~/?gender=female"><i class="fa fa-female fa-2x female-icon"></i></a></div>
                        <br />
                        <p>Female Users</p>
                    </div>
                </div>
            </div>

            <div class="overlay">
                <h2><strong>@ViewData["gender"] Users</strong></h2>
                <h6>Filter by</h6>

                <div class="overlay_head">
                    <div class="form-group has-search">
                        <i class="fa fa-search form-control-feedback"></i>
                        <input type="text" class="form-control search" placeholder="Find in list">
                    </div>

                    <select name="country" class="select-css">
                        <option value="AU">Australia</option>
                        <option value="BR"> Brazil</option>
                        <option value="CA">Canada</option>
                        <option value="CH">Chile</option>
                        <option value="DE">Germany</option>
                        <option value="DK">Denmark</option>
                        <option value="ES">Spain</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GB">United Kingdom</option>
                        <option value="IE">Ireland</option>
                        <option value="IR">Iran</option>
                        <option value="NL">Netherlands</option>
                        <option value="NZ">New Zealand</option>
                        <option value="TR">Turkey</option>
                        <option value="US">United States</option>
                    </select>

                    <div>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        <span>Show Country</span>
                    </div>
                </div>
                    @RenderBody()
            <div class="footer">
                <div class="download"><i class="fa fa-cloud-download form-control-feedback"></i> Download Results</div>
                <div>
                    @if (Model is IEnumerable)
                    {
                        int next = Model[0].CurrentPage + 1;
                        int previous = Model[0].CurrentPage - 1;
                        var numberOfPages = (int)ViewData["totalUsers"] / 3;


                        foreach (var item in Enumerable.Range(1, numberOfPages))
                        {
                            <a href="~/?pageNumber=@previous">
                                <i class="fa fa-angle-left form-control-feedback left-angle @(Model[0].CurrentPage == item ? "active" : "")"></i>
                            </a>
                        }


                        <a href="~/?pageNumber=@next">
                            <i class="fa fa-angle-right form-control-feedback right-angle @(next > numberOfPages? "disabled" : "")"></i>
                        </a>
                    }
                </div>
            </div>
            </div>

        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
